@model IEnumerable<TrackIt.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressLine3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Province)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.District)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNumber1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelephoneNumber2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaxNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedByDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedById)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedByDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedByDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country1.CountryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressLine3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Province)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.District)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNumber2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNumber1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNumber2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedById)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedByDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeletedByDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country1.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressId })
        </td>
    </tr>
}

</table>
